<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="boardMapper">
  	<resultMap type="board" id="boardResultSet">
		  	<result column="BOARD_NO" property="boardNo"/>
		  	<result column="BOARD_WRITER" property="boardWriter"/>
		  	<result column="BOARD_TITLE" property="boardTitle"/>
		  	<result column="BOARD_CONTENT" property="boardContent"/>
		  	<result column="COUNT" property="count"/>
		  	<result column="LIKE_COUNT" property="likeCount"/>
		  	<result column="CREATE_DATE" property="createDate"/>
		  	<result column="TITLEIMG" property="titleImg"/>
  	</resultMap>
  	
  	
  	
  	<select id="boardListCount" resultType="_int">
  		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE STATUS='Y'
  	</select>
  	
  	<select id="selectBoardList" parameterType="_int" resultMap="boardResultSet">
  		
  		SELECT BOARD_NO
		        ,USER_ID BOARD_WRITER
		        ,BOARD_CONTENT
		        ,B.COUNT
		        ,LIKE_COUNT
		        ,B.CREATE_DATE
		FROM BOARD B
		JOIN MEMBER M ON (M.USER_NO = B.BOARD_WRITER)
		ORDER BY B.CREATE_DATE DESC
  		<!--
  		SELECT 	BOARD_NO
		        ,USER_ID BOARD_WRITER
		        ,BOARD_CONTENT
		        ,B.COUNT
		        ,LIKE_COUNT
		        ,B.CREATE_DATE
		        ,FILE_PATH || CHANGE_NAME TITLEIMG
		FROM BOARD B
		JOIN MEMBER M ON (M.USER_NO = B.BOARD_WRITER)
		JOIN ATTACHMENT AT ON (B.BOARD_NO = AT.REF_NO)
		WHERE B.STATUS='Y'
		AND FILE_TYPE = 1
		ORDER BY B.CREATE_DATE DESC
		 -->
  	</select>
  	
  	
  	<update id="boardIncreaseCount" parameterType="_int">
  		UPDATE BOARD
		SET COUNT = COUNT+1
		WHERE BOARD_NO = #{boardNo}
		AND STATUS = 'Y'
  	</update>
  	
  	<select id="boardDetail" parameterType="_int" resultMap="boardResultSet">
  		<!-- SELECT 	BOARD_NO
		        ,USER_ID BOARD_WRITER
		        ,BOARD_TITLE
		        ,BOARD_CONTENT
		        ,B.COUNT
		        ,LIKE_COUNT
		        ,B.CREATE_DATE
		        ,FILE_PATH || CHANGE_NAME TITLEIMG
		FROM BOARD B
		JOIN MEMBER M ON (M.USER_NO = B.BOARD_WRITER)
		JOIN ATTACHMENT AT ON (B.BOARD_NO = AT.REF_NO)
		WHERE B.STATUS='Y'
		AND BOARD_NO = #{boardNo}
		AND FILE_TYPE = 1 -->
		SELECT BOARD_NO
		        ,USER_ID BOARD_WRITER
		        ,BOARD_CONTENT
		        ,B.COUNT
		        ,LIKE_COUNT
		        ,B.CREATE_DATE
		FROM BOARD B
		JOIN MEMBER M ON (M.USER_NO = B.BOARD_WRITER)
		WHERE B.STATUS='Y'
		AND BOARD_NO=#{boardNo}
  	</select>
  		
  	<insert id="insertBoard">
  		INSERT INTO BOARD(BOARD_NO
            ,BOARD_WRITER 
            ,BOARD_TITLE
            ,BOARD_CONTENT)
		VALUES (SEQ_BNO.NEXTVAL,
		        2,
		        #{boardTitle},    
		        #{boardContent})
  	</insert>
  
  	
  	
  	
  </mapper>