<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="diaryMapper">
  	<resultMap type="diary" id="diaryResultSet">
  		<result column="DIARY_NO" property="diaryNo"/>
  		<result column="CATEGORY_NO" property="categoryNo"/>
  		<result column="DIARY_WRITER" property="diaryWriter"/>
  		<result column="SELECT_DATE" property="selectDate"/>
  		<result column="DIARY_TITLE" property="diaryTitle"/>
  		<result column="DIARY_CONTENT" property="diaryContent"/>
  		<result column="SELECT_OPEN" property="selectOpen"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<resultMap type="diaryCategory" id="cateResultSet">
  		<result column="CATEGORY_NO" property="diaryCateNo"/>
  		<result column="CATEGORY_NAME" property="diarycateName"/>
  	</resultMap>
  	
  	<resultMap type="board" id="boardResultSet">
		  	<result column="BOARD_NO" property="boardNo"/>
		  	<result column="BOARD_WRITER" property="boardWriter"/>
		  	<result column="BOARD_TITLE" property="boardTitle"/>
		  	<result column="BOARD_CONTENT" property="boardContent"/>
		  	<result column="COUNT" property="count"/>
		  	<result column="LIKE_COUNT" property="likeCount"/>
		  	<result column="CREATE_DATE" property="createDate"/>
		  	<result column="TITLEIMG" property="titleImg"/>
  	</resultMap>
  	<resultMap type="boardReply" id="replyResultSet">
		  	<result column="REPLY_NO" property="replyNo"/>
		  	<result column="REF_BNO" property="refBno"/>
		  	<result column="REPLY_WRITER" property="replyWriter"/>
		  	<result column="REPLY_CONTENT" property="replyContent"/>
		  	<result column="LIKE_COUNT" property="likeCount"/>
		  	<result column="CREATE_DATE" property="createDate"/>
		  	<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<resultMap type="member" id="memberResultSet">
			<result column = "USER_NO" property="userNo"/>
			<result column = "USER_ID" property="userId"/>
			<result column = "USER_PWD" property="userPwd"/>
			<result column = "USER_NAME" property="userName"/>
			<result column = "EMAIL" property="email"/>
			<result column = "PHONE" property="phone"/>
			<result column = "ADDRESS" property="address"/>
			<result column = "ORIGIN_NAME" property="originName"/>
			<result column = "CHANGE_NAME" property="changeName"/>
			<result column = "ENROLL_DATE" property="enrollDate"/>
			<result column = "GRADE" property="grade"/>
			<result column = "STATUS" property="status"/>
		</resultMap>
  	
  	<resultMap type="follow" id="followResultSet">
  		<result column="USER_NO" property="userNo"/>
  		<result column="FOLLOWING_ID" property="followingId"/>
  	</resultMap>
  	
  	<!-- 정보수정 -->
  	<update id="updateMember" parameterType="member">
  			UPDATE MEMBER
			SET USER_NAME = #{userName}
			   ,EMAIL = #{email}
			   ,PHONE = #{phone}
			   ,ADDRESS = #{address}
			   ,ORIGIN_NAME = #{originName}
			   ,CHANGE_NAME = #{changeName}
			WHERE USER_ID = #{userId}
			AND STATUS = 'Y'
  		</update>
  	
  	<!-- 비밀번호 변경 -->
  	<update id="updatePwd" parameterType="member">
  		UPDATE MEMBER
  		SET USER_PWD = #{userPwd}
  		WHERE USER_ID = #{userId}
  		AND STATUS = 'Y'
  	</update>
  	
  	<!-- 회원 탈퇴 -->
  	<update id="deleteMember" parameterType="string">
  			UPDATE MEMBER
  			SET STATUS = 'N'
  			WHERE USER_ID = #{userId}
  			AND STATUS = 'Y'
  	</update>
  	
  	<!-- 내가 쓴 게시글 개수 -->
  	<select id="boardListCount" parameterType="board" resultType="_int"> 
		SELECT COUNT(*)
		FROM BOARD B
	   	JOIN MEMBER M ON(USER_NO=BOARD_WRITER)
		WHERE M.USER_ID = #{userId}
		AND B.STATUS = 'Y'
	</select>
	
	<!-- 내가 쓴 댓글 개수 -->
	<select id="replyListCount" parameterType="boardReply" resultType="_int"> 
		SELECT COUNT(*)
		FROM BOARD_REPLY R
		JOIN MEMBER M ON(USER_NO=REPLY_WRITER)
		WHERE M.USER_ID = #{userId}
		AND R.STATUS = 'Y'
	</select>
	
	<!-- 팔로잉수 -->
	<select id="fwingListCount" parameterType="follow" resultType="_int"> 
		SELECT COUNT(FOLLOWING_ID)
		FROM FOLLOW F
		JOIN MEMBER M USING(USER_NO)
		WHERE M.USER_ID = #{userId}
	</select>
	
	<!-- 팔로잉 목록 -->
	<select id="myFollowingList" parameterType="follow" resultMap="followResultSet">
		SELECT FOLLOWING_ID
		FROM FOLLOW F
		LEFT JOIN MEMBER M USING(USER_NO)
		WHERE M.USER_ID=#{userId}
	</select>
		
	
	<!-- 팔로워수 -->
	<select id="fwerListCount" parameterType="follow" resultType="_int"> 
		SELECT COUNT(USER_ID)
		FROM FOLLOW F
		JOIN MEMBER M USING(USER_NO)
		WHERE FOLLOWING_ID = #{userId}
	</select>
	
	<!-- 팔로워 목록 -->
	<select id="myFollowerList" parameterType="member" resultMap="memberResultSet">
		SELECT USER_ID
		FROM MEMBER M
		LEFT JOIN FOLLOW USING(USER_NO)
		WHERE FOLLOWING_ID=#{userId}
	</select>
	
    <!-- 내가 쓴 글 목록 -->
    <select id="myBoardList" parameterType="board" resultMap="boardResultSet">
       SELECT BOARD_NO,BOARD_TITLE,CREATE_DATE,COUNT,LIKE_COUNT
       FROM BOARD B
       JOIN MEMBER M ON(USER_NO=BOARD_WRITER)
       WHERE USER_ID = #{userId}
       AND B.STATUS='Y'
    </select>
    <!-- 내가 쓴 댓글 목록 -->
    <select id="myReplyList" parameterType="boardReply" resultMap="replyResultSet">
       SELECT REF_BNO,REPLY_CONTENT,CREATE_DATE,LIKE_COUNT
       FROM BOARD_REPLY R
       JOIN MEMBER M ON(USER_NO=REPLY_WRITER)
       WHERE USER_ID=#{userId}
       AND R.STATUS='Y'
    </select>
  
  	<!-- 달력 -->
	<select id="selectDiaryList" parameterType="diary" resultMap="diaryResultSet">
		SELECT SELECT_DATE
		FROM DIARY_BOARD
		WHERE DIARY_WRITER = #{userNo}
	</select>  
  
  	<!-- 일지등록 -->
  	<insert id="insertDiary" parameterType="diary">
  		INSERT INTO DIARY_BOARD (DIARY_NO
  								,CATEGORY_NO
  								,DIARY_WRITER
  								,SELECT_DATE
  								,DIARY_TITLE
  								,DIARY_CONTENT
  								,SELECT_OPEN
  								,CREATE_DATE
  								,STATUS)
  								VALUES(SEQ_DBNO.NEXTVAL
								  		,#{categoryNo}
								  		,#{diaryWriter}
								  		,#{selectDate}
								  		,#{diaryTitle}
								        ,#{diaryContent}
										,#{selectOpen}
										,SYSDATE
										,'Y')
  	</insert>
  	
  	<!-- 일지개수 -->
  	<select id="diaryListCount" resultType="_int">
  		SELECT COUNT(DIARY_NO)
		FROM DIARY_BOARD
		WHERE DIARY_WRITER=#{userNo}
  	</select>
  	<!-- 회원등급변경 -->
  	<update id="gradeSeed" parameterType="member">
  		UPDATE MEMBER
  		SET GRADE='씨앗'
  		WHERE USER_NO=${userNo}
  	</update>
  	<update id="gradeShoot" parameterType="member">
  		UPDATE MEMBER
  		SET GRADE='새싹'
  		WHERE USER_NO=${userNo}
  	</update>
  	<update id="gradeLeaf" parameterType="member">
  		UPDATE MEMBER
  		SET GRADE='잎새'
  		WHERE USER_NO=${userNo}
  	</update>
  	<update id="gradeFruit" parameterType="member">
  		UPDATE MEMBER
  		SET GRADE='열매'
  		WHERE USER_NO=${userNo}
  	</update>
  	
	<!-- 일지 선택 -->
  	<select id="selectDiary" parameterType="diary" resultMap="diaryResultSet">
	  	SELECT DIARY_NO,CATEGORY_NO, DIARY_WRITER, SELECT_DATE, DIARY_TITLE, DIARY_CONTENT, SELECT_OPEN, CREATE_DATE
		FROM DIARY_BOARD
		WHERE DIARY_WRITER=#{diaryWriter}
		AND SELECT_DATE=#{selectDate}
  	</select>
  	
  	<!-- 일지보기 -->
  	<select id="viewDiary" resultType="diary" resultMap="diaryResultSet">
  		SELECT DIARY_NO,CATEGORY_NO,SELECT_DATE,DIARY_TITLE,DIARY_CONTENT,SELECT_OPEN
  		FROM DIARY_BOARD
  		WHERE DIARY_NO=#{diaryNo}
  	</select>
  	
  	<!-- 카테고리 이름뽑기 -->
  	<select id="selectCategory" resultType="diaryCategory" resultMap="cateResultSet">
  		SELECT CATEGORY_NAME
  		FROM DIARY_FARM_CATEGORY
  		WHERE CATEGORY_NO = #{cNo}
  	</select>
  	
  	<!-- 달력에서 일지 유무 -->
  	<select id="existDiary" resultType="_int">
  		SELECT COUNT(*)
		FROM DIARY_BOARD
		WHERE DIARY_WRITER = #{diaryWriter}
		AND SELECT_DATE = #{selectDate}
  	</select>
  	
  	<!-- 일지 삭제 -->
  	<delete id="deleteDiary">
  		DELETE FROM DIARY_BOARD
		WHERE DIARY_NO = #{diaryNo}
  	</delete>
  	<!-- 일지 수정 -->
  	<update id="updateDiary" parameterType="diary">
  		UPDATE DIARY_BOARD
  		SET CATEGORY_NO = #{categoryNo}
  			,DIARY_TITLE = #{diaryTitle}
  			,DIARY_CONTENT = #{diaryContent}
  			,SELECT_OPEN = #{selectOpen}
  		WHERE DIARY_NO=#{diaryNo} 
  		AND STATUS = 'Y'
  	</update>
  	
  	
  </mapper>