<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.tinyfarm.board.vo.Board" alias="board"/>
		<typeAlias type = "com.kh.tinyfarm.member.model.vo.Member" alias ="member"/>
		<typeAlias type = "com.kh.tinyfarm.qna.model.vo.Qna" alias ="qna"/>
		<typeAlias type = "com.kh.tinyfarm.diary.model.vo.Diary" alias ="diary"/>
		<typeAlias type= "com.kh.tinyfarm.product.model.vo.Product" alias="product"/>
		<typeAlias type= "com.kh.tinyfarm.common.model.vo.Attachment" alias="attachment"/>
		
	</typeAliases>
	
</configuration>