<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type= "com.kh.tinyfarm.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.tinyfarm.board.model.vo.BoardReply" alias="boardReply"/>
		<typeAlias type="com.kh.tinyfarm.board.model.vo.BoardLike" alias="boardLike"/>
		<typeAlias type="com.kh.tinyfarm.board.model.vo.BoardReport" alias="boardReport"/>

		

		<typeAlias type = "com.kh.tinyfarm.member.model.vo.Member" alias ="member"/>
		<typeAlias type = "com.kh.tinyfarm.member.model.vo.Follow" alias="follow"/>
		<typeAlias type="com.kh.tinyfarm.diary.model.vo.Diary" alias="diary"/>
		<typeAlias type = "com.kh.tinyfarm.qna.model.vo.Qna" alias ="qna"/>
		
		<typeAlias type = "com.kh.tinyfarm.chat.model.vo.ChatMessage" alias ="chatMsg"/>
		<typeAlias type = "com.kh.tinyfarm.chat.model.vo.ChatRoom" alias ="chatRoom"/>
		<typeAlias type = "com.kh.tinyfarm.chat.model.vo.ChatRoomList" alias ="chatRoomList"/>
		

		<typeAlias type= "com.kh.tinyfarm.product.model.vo.Product" alias="product"/>
		<typeAlias type= "com.kh.tinyfarm.common.model.vo.Attachment" alias="attachment"/>
		<typeAlias type= "com.kh.tinyfarm.product.model.vo.Category" alias="category"/>
		
		<typeAlias type="com.kh.tinyfarm.publicPlant.model.vo.PlantComment" alias="plantComment"/>

	</typeAliases>
	
</configuration>