@charset "UTF-8";
/* 
	stylesheet link
	<link rel="stylesheet" href="resources/jisu/css/tradePage.css">
 */
.boardHeader {
	display: flex;
}

.boardFooter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
/* 거래내역 css */
#orderList {
	width: 100%;
	height: 50%;
}

#orderList>table thead, #sellList>table thead {
	font-weight: bold;
}

table {
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px #a39485 solid;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
	border-radius: 5px;
}

thead {
	height: 100px;
	font-weight: bold;
	color: #fff;
	background-color: #70c745;
}

#proImg {
	margin-top: 10%;
	margin-bottom: 10%;
}

#sellList {
	width: 100%;
	height: 50%;
	margin-top: 5%;
}

#sellList>table tr {
	text-align: center;
	border: none;
	border-bottom: 1px solid grey;
}

#orderList>table, #sellList>table {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid grey;
}

#orderList tbody tr, #sellList tbody tr {
	height: 100%;
	border-bottom: 1px solid grey;
}